[Unit]
Description=captive portal service

[Service]
ExecStart=env -i PYTHONPATH=/home/pi/.local/lib/python3.7/site-packages /usr/bin/python3 -u /home/pi/RaspiWiFi/libs/configuration_app/app.py
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target
